<div class="modal-header">
    <h4 class="modal-title">スケジュール更新</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <label>{{date}}</label>
    <hr>
    <input type="text" [(ngModel)]="title" placeholder="タイトルを入力">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="btn()">更新</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">閉じる</button>
</div>
