<div [@routerTransition]>
  <h2>{{now}}</h2>
    <div class="row">
        <table class="table table-bordered col-xl-3 col-lg-6">
            <thead>
                <tr><th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th></tr>
            </thead>
            <tbody style="text-align: left; font-size: x-large">
                <tr *ngFor="let week of weeks">
                    <td><div class="day-sun">{{week.day1}}</div><div class="schedule"><ul><li>{{week.schedule1}}</li></ul></div></td>
                    <td><div class="day-regular">{{week.day2}}</div><div class="schedule"><ul><li>{{week.schedule2}}</li></ul></div></td>
                    <td><div class="day-regular">{{week.day3}}</div><div class="schedule"><ul><li>{{week.schedule3}}</li></ul></div></td>
                    <td><div class="day-regular">{{week.day4}}</div><div class="schedule"><ul><li>{{week.schedule4}}</li></ul></div></td>
                    <td><div class="day-regular">{{week.day5}}</div><div class="schedule"><ul><li>{{week.schedule5}}</li></ul></div></td>
                    <td><div class="day-regular">{{week.day6}}</div><div class="schedule"><ul><li>{{week.schedule6}}</li></ul></div></td>
                    <td><div class="day-sat">{{week.day7}}</div><div class="schedule"><ul><li>{{week.schedule7}}</li></ul></div></td>
                </tr>
            </tbody>
        </table>
    </div>
<!--
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
-->
</div>
